.card{
  background-color: #1e2023;
  border-radius: 0.6rem;
  width: 100%;
  margin-top: 1rem;
}

.card-padding{
  padding: 1rem 2rem;
}

.card-body, .card-head{
  background-color: #1e2023;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.6);
}

.card-head{
  border-radius: 0.6rem 0.6rem 0 0;
}

.card-body{
  border-radius: 0 0 0.6rem 0.6rem;
}

.MuiPaper-root{
  background-color: #1e2023 !important;
  margin-bottom: 0px !important;
}

.MuiAlert-icon{
  display: flex;
  align-items: center;
}

.gray{
  color: #b9babb;
}

.flex{
  display: flex;
}

.main-text{
  color: #c9c8c5;
}

.icon-style{
  margin: 5px 10px 5px 0px !important;
}

#main-trailer{
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#main-trailer > div{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.table-container tr{
  border-bottom: 1px solid rgba(0,0,0,.05);
  background-color: #1e2023;
}

.table-container tr:last-child td{
  border: 0;
}

.table-container tr td, .table-whitelist tr td, .table-whitelist tr th{
  color: #c9c8c5;
  font-size: 0.9rem;
  border-bottom: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

.table-container tr td:first-child{
  padding-left: 0;
}

.table-container tr td:last-child{
  padding-right: 0;
}

.table-container tr td a{
  text-decoration: none;
}

.table-whitelist tr th{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.table-whitelist tr td{
  text-align: center;
}

.help{
  font-size: 0.8rem !important;
  color: #3298dc;
}

.text-center{
  text-align: center;
}

.mt-10{
  margin-top: 10px !important;
}

.mt-20{
  margin-top: 20px !important;
}

.mt-30{
  margin-top: 30px !important;
}

.flex{
  display: flex;
}

.is-flex-grow-1{
  flex-grow: 1;
}

.text-right{
  text-align: right;
}

.text-bold{
  font-weight: bold !important;
}

.full-width{
  width: 100%;
}

.ph-10{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.input > input{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.justify-center{
  justify-content: center;
}

.sticky{
  position: sticky;
  top: 60px;
  height: max-content;
}

.no-decoration{
  text-decoration: none !important;
}

.text-small{
  font-size: 0.75rem !important;
}

.text-smallest{
  font-size: 0.55rem !important;
}

.justify-end{
  justify-content: end;
}

.footer-link{
  margin: 0 10px !important;
  text-decoration: none !important;
  font-size: 0.8rem;
  color: #4f4f4f !important;
}

.justify-between{
  justify-content: space-between;
}

.hyperlink{
  padding: 0 20px;
  cursor: pointer;
  transition: all .4s;
  text-shadow: 1px 1px 10px #9affff, 1px 1px 10px #02feff;
  color: rgb(240,221,202);
}

.white-text{
  color: white;
}

.bold-text{
  font-weight: 600 !important;
}

.agency-link{
  text-decoration: none !important;
  font-size: 1rem;
  color: white !important;
}

.agency-link:hover{
  color: #d14932 !important;
}

.instruction-image{
  width: 100%;
}